
:root{
  --main-color1:#dc82a9;
  --main-color2:#d3779b;
  --main-color3:#c9638b;
  --main-color4:#595959;
  --main-color5:#7b7b7a;
  --main-color6:#f3f6f4;
  --main-color7:linear-gradient(to right, #7E3E5C,#3D1E30);
  --main-color8:#8D4C5C;
  }



/* Container styling */
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

/* Button styling */
.category-btn {
  background-color: #f4f4f4; 
  border: none;
  border-radius: 8px;
  padding:20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.category-btn:hover {
  background-color: #e0e0e0;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: #ccc;
  transform: translateY(1px); /* Slight press effect */
}

/* Error message */
.error-message {
  color: #ff4d4f; /* Softer red for readability */
  font-size: 18px; /* Slightly larger for emphasis */
  text-align: center;
  margin-top: 20px;
  font-weight: 500; /* Bold to draw attention */
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    height: 140px;
    font-size: 1.1rem;
  }

  .category-container {
    gap: 15px; /* Adjusted for smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    height: 120px;
    font-size: 1rem;
  }

  .category-btn {
    font-size: 14px;
    padding: 10px 12px; /* Reduced padding for small screens */
  }
}
