/* General Reset */
:root{
    --main-color1:#dc82a9;
    --main-color2:#d3779b;
    --main-color3:#c9638b;
    --main-color4:#595959;
    --main-color5:#7b7b7a;
    --main-color6:#f3f6f4;
    --main-color7:linear-gradient(to right, #7E3E5C,#3D1E30);
    --main-color8:#8D4C5C;
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}


/* Login Page Container */
.login-container {
  display: flex;
  max-width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Left Section: Background Image */
.login-left {
  flex: 1;
  background: url("../assets/images/image4.webp") no-repeat  center center ;
  background-size:cover;
  position: relative;
  
}

.login-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(132, 65, 98, 0.7); 
}

/* Right Section */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login-form {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

/* Text and Headings */
.welcome-text {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-text span{
    color: var(--main-color3);
}

.subtitle {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}

/* Input Group */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color8);
    font-size: 15px;
  }

.input-field {
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
}

.input-field:focus {
  border-color:var(--main-color8);
  outline: none;
}
/* Login Button */
.login-btn {
  background-image: var(--main-color7);
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s ease;
}

.login-btn:hover {
  transform: scale(0.9);
}

/* Sign Up Link */
.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #6c757d;
}

.signup-link-highlight {
  color: var(--main-color8);
  text-decoration: none;
  font-weight: bold;
}

.signup-link-highlight:hover {
  text-decoration: underline;
  color: var(--main-color1);
}


/* Media Query for Small Screens */
@media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      }
  
    .login-left, .login-right {
      flex: 1 1 100%;
      padding: 20px;
    }
  
    .login-form {
      max-width: 100%;
      padding: 10px;
    }
  
    .welcome-text {
      font-size: 24px;
    }
  
    .subtitle {
      font-size: 12px;
    }
  
    .input-field {
      padding: 10px 14px;
    }
  
    .login-btn {
      font-size: 14px;
      padding: 10px 0;
    }
  }