/* Wishlist Container */

.wishlist-container {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  height: 100vh;

}

.wishlist-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;

}

/* Empty Wishlist */
.wishlist-container.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #7E3E5C,#3D1E30);;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.explore-link:hover {
  background-color: #0056b3;
}

/* Wishlist Card Wrapper */
.wishlist-card_wrapper {
  display: grid; /* Use grid for layout */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between cards */
  padding: 20px;
  justify-content: center;
}

/* Individual Product Card */
.product-card_img {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card_img:hover {
  transform: translateY(-5px); /* Add hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Wishlist Item Image */
.wishlist-item-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Wishlist Item Description */
.product-card_description {
  text-align: center;
  margin-top: 10px;
}

.product-card_description h3 {
  color: #444;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.2px;
  height: 40px;
  display: -webkit-box;
  
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card_description p {
  color: #666;
  font-size: 1.3rem;
  letter-spacing: -0.5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-card_price {
  margin-top:10px;
  font-size: 1.2rem;
  width: fit-content;
  padding: 5px;
  background-color: var(--main-color1);
  border-radius: 15px;
}


/* Remove Button */
.remove-btn {
  margin-top: 10px;
  background-image: linear-gradient(to right, #7E3E5C,#3D1E30);  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-btn:hover {
  background-color: #d62839;
}
.price-remove{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}