:root{
    --main-color1:#dc82a9;
    --main-color2:#d3779b;
    --main-color3:#c9638b;
    --main-color4:#595959;
    --main-color5:#7b7b7a;
    --main-color6:#f3f6f4;
    --main-color7:linear-gradient(90deg, rgba(255,150,191,1) 0%, rgba(209,17,92,1) 100%);

    }

/* Start Stats */
.stats {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  min-height: 300px;
  /* background: var(--main-color4); */
  /* background-color:white; */
  background-image: radial-gradient(circle at 57% 90%, rgba(129, 129, 129,0.04) 0%, rgba(129, 129, 129,0.04) 50%,rgba(193, 193, 193,0.04) 50%, rgba(193, 193, 193,0.04) 100%),radial-gradient(circle at 91% 64%, rgba(253, 253, 253,0.04) 0%, rgba(253, 253, 253,0.04) 50%,rgba(58, 58, 58,0.04) 50%, rgba(58, 58, 58,0.04) 100%),radial-gradient(circle at 72% 98%, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(242deg, rgb(185, 9, 110),rgb(243, 119, 170));

}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.stats .box {
  background-color: var(--main-color6);
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition:0.5s ease-in;
  margin: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: var(--main-color7);
  transition: 1s;
  height: 0;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  left: 0;
  bottom: 0;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
    color: black;
    background-color: var(--main-color6);
}
/* End Stats */