:root {
  --main-color1: #dc82a9;
  --main-color2: #d3779b;
  --main-color3: #c9638b;
  --main-color4: #595959;
  --main-color5: #7b7b7a;
  --main-color6: #f3f6f4;
  --padding-large: 50px;
  --padding-medium: 30px;
  --padding-small: 10px;
  --font-size-footer: 16px;
  --max-width-container: 1200px;
}

footer {
  background-color: var(--main-color6);
  padding: 50px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logoo {
  flex-basis: 20%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoo p {
    width: 150%;
    padding: 15px;
    line-height: 2;
    text-align: center;
}

.logoo p span{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-color3);
}
.logoo img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.nav-links {
  flex-basis: 40%;
  margin-bottom: 20px;
}

.nav-links .pages{
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color4);
}
.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-links li {
  margin-right: 20px;
  padding: 15px;
  list-style: none;
}

.nav-links a {
  color: var(--main-color3);
  transition: color 0.5s;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  color: var(--main-color1);
}

.social-links {
  flex-basis: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

.social-links a {
  color: var(--main-color3);
  transition: color 0.5s;
  padding: 15px;
  font-size: 25px;
}

.social-links a:hover {
  color: var(--main-color1);
}

.contact-info {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
  padding: 15px;
}
.contact-info p i{
  font-size: 25px;
  color: var(--main-color3);
  margin-bottom: 20px;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.contact-info p i:hover{
  color: var(--main-color1);
}
.copyright {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}
.copyright span{
  font-size: 25px;
  color: var(--main-color3);
}

.copyright p {
  font-size: 14px;
  color: #666;
  border-top: 1px solid var(--main-color1);
  padding: 20px;
}

/* Responsive design */

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
  }
  .nav-links {
    margin-bottom: 10px;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .contact-info {
    margin-bottom: 10px;
  }
  .logoo p{
    width: 80%;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding-bottom: 10px;
  }
  .logo img {
    width: 50px;
    height: auto;
  }
  .nav-links ul {
    flex-direction: column;
  }
  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social-links a {
    margin-right: 10px;
  }
  .contact-info p {
    margin-bottom: 5px;
  }
}