.gallery{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 15px;
    padding: 40px 0 40px 20px;
    margin-bottom: 80px;
}

.slider-container img{
  border-radius: 40px;
}
@media (max-width: 767px) {
  .gallery{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: -181px;
  }
}