:root{
--main-color1:#dc82a9;
--main-color2:#d3779b;
--main-color3:#c9638b;
--main-color4:#595959;
--main-color5:#7b7b7a;
--main-color6:#f3f6f4;
--main-color7:#FF0A7B;
}

/* CardComponent.css */
.card-container {
  text-align: center; /* Center text in the container */
  margin: 40px auto; /* Add some margin on top and bottom */
}

.title {
  font-size: 24px; /* Title font size */
  margin-bottom: 20px; /* Space below the title */
}

.cards-info {
  display: flex; 
  justify-content: center; 
  gap: 50px; 
  flex-wrap: wrap; 
}

.card-info {
  width: 300px; 
  border-radius: 5px; 
  border: none;
  overflow: hidden; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.4s; 
  margin: 60px 20px;
  padding: 15px;
  cursor: pointer;
}

.card-info:hover {
  transform: scale(1.05);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}

.card-info-image {
  height: 150px; 
}

.card-info-body {
  padding: 15px; 
  margin: 5px 5px;
}

.card-title {
  font-size: 20px; 
  margin: 10px 0; 
  color: var(--main-color3);
  text-transform:uppercase;
}

.card-description {
  font-size: 16px; 
  color: var(--main-color4); 
  text-align: center;
  margin: auto;
  line-height: 1.5;
  text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cards-info {
    flex-direction: column; /* Stack cards vertically on smaller screens */
    align-items: center; /* Center align items */
  }

  .card-info {
    width: 100%; /* Make cards full width on smaller screens */
    max-width: 300px; /* Set a maximum width */
  }
}
