
:root{
  --main-color1:#dc82a9;
  --main-color2:#d3779b;
  --main-color3:#c9638b;
  --main-color4:#595959;
  --main-color5:#7b7b7a;
  --main-color6:#f3f6f4;
  }
  
.containerrrr{
  margin: auto;
  padding: 2em;
  width: 100%;
  height: 750px;
  background-image: radial-gradient(circle at 57% 90%, rgba(129, 129, 129,0.04) 0%, rgba(129, 129, 129,0.04) 50%,rgba(193, 193, 193,0.04) 50%, rgba(193, 193, 193,0.04) 100%),radial-gradient(circle at 91% 64%, rgba(253, 253, 253,0.04) 0%, rgba(253, 253, 253,0.04) 50%,rgba(58, 58, 58,0.04) 50%, rgba(58, 58, 58,0.04) 100%),radial-gradient(circle at 72% 98%, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(242deg, rgb(185, 9, 110),rgb(243, 119, 170));
  }

.login-register-container{
  max-width: 32rem;
  margin: auto;
}

.logoo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logoo h1{
  font-size: 3rem;
  padding-bottom: 6px;
  color: var(--main-color3);
  text-transform: uppercase;
}
.logoo h2{
    padding: 5px;
    font-size: 18px;
    font-weight: 200;
    text-transform: capitalize;
}

.logoo h2 span{
  font-size: 25px;
  font-weight: 700;
  color: var(--main-color3);
}


.form-field-wrapper .btnn{
  width: 60%;
  background-color: var(--main-color2);
}


.forget-password{
display: flex;
align-items: center;
justify-content: space-between;

}
.Forget a{
color: var(--main-color3);
font-size: 18px;
font-weight: 700;
transition: 0.5s ease-out;

}
.Forget:hover a{
color: var(--main-color1);
}
.checkbox{
display: flex;
align-items: center;
color: white;
}
.checkbox span{
  color: var(--main-color3);
  margin-left: 10px;
}

.login-register-container{
max-width: 31rem;
margin: auto;
}

input{
  background: var(--main-color6);
  border: none;
  padding: 1rem;
  width: 100%;
  color: #000;
  outline: none;
  border-radius: 10px;
  border-bottom: 1px solid var(--main-color2);
  transition: 0.5s ease-in-out;

}
input:focus{
  border: 1px solid var(--main-color3);
}

.form-field-wrapper{
  margin: 1em 0;
}


.text-login {
 padding-top: 15px;
 font-size: 18px;
 font-weight: 200;
 text-transform:capitalize;
  text-align: center;
}

.text-login span a{
  font-size: 25px;
  color: var(--main-color3);
  font-weight: 700;
  text-decoration: none;
}
/* .text-login span a{
color: var(--color2);
font-size: 21px;
font-weight: 800;;
} */

.form-cont{
background-color: var(--main-color6);
padding: 20px;
border-radius: 20px;
/* backdrop-filter: blur(20px) saturate(360%); */

}
/* .form-cont input{
background-color: var(--main-color3);
} */

input::placeholder{
  color: var(--main-color3);
}




@media(max-width:800px) {
  #header-logo{
      display: none;
  }

  .header{
      justify-content: center;
  }
}

@media(max-width:800px) {
  .container{
      max-width: 95%;
      margin: auto;
      padding: 1em;
    }
}

