:root{
  --main-color1:#dc82a9;
  --main-color2:#d3779b;
  --main-color3:#c9638b;
  --main-color4:#595959;
  --main-color5:#7b7b7a;
  --main-color6:#f3f6f4;
}

.active{
    background-color: var(--main-color2);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
    
  
  .logo .title h1{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: black;
  }
  .logo .title span{
    font-size: 50px;
    color: var(--main-color3);
  }
  .courses-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color6);
    color: var(--main-color6);
    position: static;
    top: 0;

}

      
.courses-container ul {
    display: flex;
    align-items: center;
}

.courses-container ul li {
   list-style: none; 
}

.courses-container ul li a {
    display: block;
    text-decoration: none;
    color:var(--main-color3);
    font-weight: bold;
    padding: 1.5rem;
    margin: 0px 0.5rem;
    border-radius: 1.5rem;
    transition: 0.5s ease-in;
    position: relative;
}

.courses-container ul li a:not(.active):hover {
    background-color:var(--main-color2) ;
    color: var(--main-color6);
}

.courses-container .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.courses-container .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--main-color6);
  border-radius: 0.2rem;
}

.courses-container ul li a.active::before {
  content: '';
  display: inline-block;
  width: 114px;
  height: 80px;
  background-color: var(--main-color1);
  border-radius: 35%;
  margin-right: 8px;
  position: absolute;
  top: -165%;
  left: -2%;
}

.courses-container ul li a.active {
  color: var(--main-color6); 
  font-weight: bold;
  border-bottom: 2px solid var(--main-color1); 
}
.courses-container ul li a.active:hover {
  font-weight: bold;
  color: black;
}

.courses-container ul li a:hover {
  color: var(--main-color2); 
  transition: color 0.3s ease;
}


.menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-icon i {
    color: black;
    display: none;
  }
  ul.open li {
    display: block; /* Show when menu is open */
  }
  
  .field-wrapper .btn1{
    background-color: var(--main-color2);
    transition: 0.5s ease-in-out;
    margin: 20px;
    color: rgb(40, 27, 27);
    width:100px;

  }
  .field-wrapper .btn1:hover{
    background-color: var(--main-color5);
    color: var(--main-color6);
  }
  .field-wrapper .btn2{
  margin: 20px;
  color: rgb(40, 27, 27);
  transition: 0.5s ease-in;
  border: 1px solid var(--main-color5);
  width:100px;
}

.field-wrapper .btn2:hover{
  background-color: var(--main-color2);
  color: var(--main-color6);
}

@media (max-width: 920px) {
    .menu-icon {
        display: block;
        
    }

    .courses-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .courses-container ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        
    }

    .courses-container ul.open {
        display: flex;
        
    }
    .menu-icon i{
        display: block;
        position: absolute;
        top: 8%;
        left: 90%;
    }

    .courses-container ul li {
        width: 100%;
        text-align: center;

    }

    .courses-container ul li a {
        margin: 0.2rem 0.5rem;
        color: var(--main-color4);
    }
}


@media (max-width: 1200px) {
  .menu-icon {
      display: block;
      
  }

  .courses-container ul li a.active::before{
    display: none;
  }
  .courses-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .courses-container ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
      
  }

  .courses-container ul.open {
      display: flex;
      
  }
  .menu-icon i{
      display: block;
      position: absolute;
      top: 8%;
      left: 90%;
  }
  .active{
    width: 50%;
    margin: auto;
  }
  
  .courses-container ul li {
      width: 100%;
      text-align: center;

  }
  .courses-container ul li a:hover{
    color: var(--main-color4);
  }
  .courses-container ul li a {
      margin: 0.2rem 0.5rem;
      
  }
}

