
:root{
    --main-color1:#dc82a9;
    --main-color2:#d3779b;
    --main-color3:#c9638b;
    --main-color4:#595959;
    --main-color5:#7b7b7a;
    --main-color6:#f3f6f4;
    }

.not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle at 57% 90%, rgba(129, 129, 129, 0.04) 0%, rgba(129, 129, 129, 0.04) 50%, rgba(193, 193, 193, 0.04) 50%, rgba(193, 193, 193, 0.04) 100%), radial-gradient(circle at 91% 64%, rgba(253, 253, 253, 0.04) 0%, rgba(253, 253, 253, 0.04) 50%, rgba(58, 58, 58, 0.04) 50%, rgba(58, 58, 58, 0.04) 100%), radial-gradient(circle at 72% 98%, rgba(55, 55, 55, 0.04) 0%, rgba(55, 55, 55, 0.04) 50%, rgba(187, 187, 187, 0.04) 50%, rgba(187, 187, 187, 0.04) 100%), linear-gradient(242deg, rgb(185, 9, 110), rgb(243, 119, 170));  
    color: white;
    text-align: center;
  }
  
  .content {
    max-width: 600px;
    margin: auto;
  }
  
  .logo {
    font-size: 50px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 5rem;
    margin: 20px 0;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .back-button {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: white;
    color: var(--main-color3);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #ffd1e8;
    color: var(--main-color1);
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 3rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  