:root{
    --main-color1:#dc82a9;
    --main-color2:#d3779b;
    --main-color3:#c9638b;
    --main-color4:#595959;
    --main-color5:#7b7b7a;
    --main-color6:#f3f6f4;
    }

.testimonials{
    background: linear-gradient(90deg, rgba(255, 150, 191, 1) 0%, rgba(209, 17, 92, 1) 100%);
    margin-bottom: 80px;
    }

.sliderr-containerr {
    width: 50%;
    margin: 0 auto;
  }
  
  .testimonial-card {
  background-color: var(--main-color6);
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 10px; 
    max-width: 80%;
    height: 80%;
  }
  .testimonial-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  
  .testimonial-quote {
    /* font-style: italic; */
    font-size: 15px;
    color: var(--main-color5);
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
  }
  
  .testimonial-name {
    font-weight: bold;
    color: #333;
  }
  
  .testimonial-position {
    color: #888;
    font-size: 0.9em;
  }
  