:root{
  --main-color1:#dc82a9;
  --main-color2:#d3779b;
  --main-color3:#c9638b;
  --main-color4:#595959;
  --main-color5:#7b7b7a;
  --main-color6:#f3f6f4;
  --main-color7:linear-gradient(to right, #7E3E5C,#3D1E30);
  --main-color8:#8D4C5C;
  }
.price-filter_wrapper {
  position: absolute;
  right: 20px;
  top: -60px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 40px;

}
/* Style for the select dropdown */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Removes the default arrow in most browsers */
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;

}

select:focus {
  border-color: var(--main-color8);
  box-shadow: 0 0 5px var(--main-color7);
}

select option {
  font-size: 16px;
  color: #333;
}

/* Add custom arrow */
select::after {
  content: '▼';
  position: absolute;
  right:90%;
  pointer-events: none;
}

#price-filter {
  max-width: 300px; /* Optional: Adjust based on layout */
  margin: 0 auto;
}

.price-filter_wrapper label {
  font-size: 14px;
  font-weight: 600;

}

@media (max-width: 550px) {
  #price-filter {
    width: 20vw;
  }
}
