:root{
  --main-color1:#dc82a9;
  --main-color2:#d3779b;
  --main-color3:#c9638b;
  --main-color4:#595959;
  --main-color5:#7b7b7a;
  --main-color6:#f3f6f4;
  --main-color7:linear-gradient(to right, #7E3E5C,#3D1E30);
  --main-color8:#8D4C5C;
  }

.product-card_wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 16px 4px #b5b5b52b;
  width: 100%;
  a {
    width: 100%;
  }
}

.product-card_img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0px;
}
.product-card_img:hover img {
  transform: translateY(-10px);
}
.product-card_img img {
  transition: all 0.2s;
  width: 100%;
  height: 250px;
}
.product-card_description {
  margin-top: 20px;
  padding: 10px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}


.product-card_description h3 {
  /* font-family: "Bebas Neue", sans-serif; */
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: -0.2px;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-card_description p {
  /* font-family: "Bebas Neue", sans-serif; */
  font-size: 1.2rem;
  letter-spacing: -0.5px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.add-cart_btn {
  border: none;
  background-image: linear-gradient(to right, #7E3E5C,#3D1E30);
  color: white;
  padding: 6px 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.add-cart_btn:hover {
  background-color: #1a1a1a;
  scale: 1.02;
}
.wishlist_btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #e63946; /* Heart icon color */
  font-size: 1.2rem;
  transition: transform 0.2s ease;
  margin-right: 60px;
  margin-left: 20px;
}

.wishlist_btn:hover {
  transform: scale(1.1);
  color: #d62828; /* Slightly darker red on hover */
}

.product-card_price {
  font-size: 1.6rem;
  width: fit-content;
  padding: 5px;
  background-color: var(--main-color1);
  border-radius: 15px;
}
.login-bottom{
  margin-right: 40px;
  
}