:root{
  --main-color1:#dc82a9;
  --main-color2:#d3779b;
  --main-color3:#c9638b;
  --main-color4:#595959;
  --main-color5:#7b7b7a;
  --main-color6:#f3f6f4;
  --main-color7:linear-gradient(to right, #7E3E5C,#3D1E30);
  --main-color8:#8D4C5C;
  }

.info-txt .head-info {
  font-size: clamp(2rem, 3vw + 0.5em,2rem);
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
}
.info-txt .head-info span{
  color: var(--main-color3);
  font-size: 25px;
}

.info-txt .info-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0px;
}
.info-txt .info-2 span{
  color: var(--main-color3);
  font-weight: bold;
}
.explore-clothing_btn {
  margin-top: 26px;
  background-color:var(--main-color8);
  border: none;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
  a {
    font-size: 1.6rem;
    padding: 10px 14px;
    display: inline-block;
    font-weight: 500;
    color: white;
    cursor: pointer;
  }
}
.explore-clothing_btn:hover{
  background-color: var(--main-color1);
  }

@media (max-width: 850px) {
  .info-txt p {
    font-size: 1.6rem;
  }
  .explore-clothing_btn {
    margin-top: 18px;
    a {
      font-size: 1.4rem;
    }
  }
}
@media (max-width: 800px) {
  .home-info {
    width: 90% !important;
  }
  .info-txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .info-txt h2 {
    font-size: clamp(3.8rem, 4vw + 1rem, 5.2rem);
  }
}