:root{
    --main-color1:#dc82a9;
    --main-color2:#d3779b;
    --main-color3:#c9638b;
    --main-color4:#595959;
    --main-color5:#7b7b7a;
    --main-color6:#f3f6f4;
    }
.slider-container-shop {
    margin:0 auto;
    padding: 20px;
    width: 98%;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-left: 3%;
  }
  
  .slider-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider-shop img {
    width: 96%;
    height: 600px;
    border-radius: 10px;
    object-fit:fill;
    border-radius: 15px;
  }
  
  .slick-dots {
    bottom: -30px;
    
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: var(--main-color3);
    margin-top: 40px;

  }
  
  .slick-dots li.slick-active button:before {
    color: var(--main-color1);
  }
  
  @media (max-width: 768px) {
    .slider-container-shop {
      width: 90%;
      padding: 15px;
    }
  
    .slider-shop img {
      max-height: 150px;
    }
  }
  
  @media (max-width: 480px) {
    .slider-container-shop {
      width: 95%;
    }
  
    .slider-shop img {
      max-height: 120px;
    }
  }
  